spring:
    datasource:
        url: jdbc:mysql://localhost:3306/calendar?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
        username: calendar
        password: "1234"
        driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
                default_batch_fetch_size: 100

    jackson:
        time-zone: Asia/Seoul

server:
    port: 8080

logging:
    level:
        com.ilchan.calendar_api: INFO
        org.hibernate.SQL: DEBUG
        org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
    api-docs:
        path: /api-docs
    swagger-ui:
        path: /swagger-ui.html
        tags-sorter: alpha
        operations-sorter: alpha
    default-consumes-media-type: application/json
    default-produces-media-type: application/json

